@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base
{
    body
    {
        @apply overflow-hidden selection:bg-purple-300 bg-[#F0F0F0] text-[#333333];
        font-family: 'Poppins'
    }

}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}